<!DOCTYPE html>
<html>
<head>
  <title>Vaibhav Taneja</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Slabo+27px' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="layoutSidebar" >
	<div class="sidebar">
	  <div class="content">
	    <div class="about">
	      <a href="/about"><%= image_tag "image.png" %></a>
	      <h1><%= link_to "Vaibhav Taneja", root_path %></h1>
	      <h2>About me</h2>
	      <p>
	        Ruby On Rails developer, Engineer by choice ^_^.<br>
	        Hadoop ,Big Data and R enthusiast,<br>
	        I do full-stack and support FC Barcelona.
	      </p>
	    </div>
	    <div class="follow">
	      <a href="https://www.linkedin.com/in/vaibhavtaneja2"><%= image_tag "linkedin.png" %></a>
	      <a href="https://twitter.com/vaibhavtaneja1"><%= image_tag "twitter.png" %></a>
	      <a href="http://facebook.com/vaibhavtaneja1"><%= image_tag "facebook.png" %></a>
	      <a href="http://github.com/vaibhavtaneja"><%= image_tag "github.png" %></a>
	      <a href="mailto:vaibhavtaneja@live.com"><%= image_tag "mail.png" %></a>
	    </div>
	    <% if !user_signed_in? %>
			<p class="sign_in"><%= link_to "Admin Login", new_user_session_path %></p>
		<% end %>
	    <div class="projects">
	      
	    </div>
	  </div>
	</div>

</div>
<div id="main_content">
	<div id="header">
		<% if current_page?(root_path) %>
			<p>All Posts</p>
		<% elsif current_page?(about_path) %>
			<p>About</p>
		<% else  %>
			<%= link_to "Back to All Posts",root_path %>
		<% end  %>
		<% if user_signed_in? %>
			<div class="buttons">
				<button class="button"><%= link_to "New Post", new_post_path %></button>
				<button class="button"><%= link_to "Log Out", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></button>
			</div>
		<% end %>
	</div>

	<% flash.each do |name, msg| %>
	<%= content_tag(:div, msg, class: "alert") %>
	<% end %>

	<%= yield %>
</div>
	


</body>
</html>
